.bg-container {
  width: 40%;
  margin:auto;
  background-image: url('marsbg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin: auto;
}

.square {
  width: 25%;
  padding-bottom: 25%;
  box-sizing: border-box;
  border: solid 1px black;
}
.button-holder {
  width: 100%;
  margin: auto;
  text-align: center;
}
button {
  color: white;
  background-color: #a55f2a;
  border: none;
  padding: 8px;
  margin: 4px;
  border-radius: 5px;
  outline: none;
}
button:active {
  background-color: orange;
}
input {
  border-radius: 10px;
  border: 1px solid silver;
  padding:4px;
}

.here {
  background-image: url('Mars_2020_Rover_-_Artist\'s_Concept.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.start-block {
  margin-top: 10px;
}
@media(max-width:1100px){
  .bg-container {
    width: 50%;
  }
}
@media(max-width:768px){
  .bg-container {
    width: 80%;
  }
}